# Enable hostNetwork to bind directly to host ports 80 and 443
# This allows accessing the ingress gateway without NodePorts
apiVersion: apps/v1
kind: Deployment
metadata:
  name: istio-ingressgateway
  namespace: istio-system
spec:
  template:
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
      - name: istio-proxy
        ports:
        - containerPort: 15021
          protocol: TCP
        - containerPort: 80
          protocol: TCP
        - containerPort: 443
          protocol: TCP
        - containerPort: 15090
          name: http-envoy-prom
          protocol: TCP
